[Unit]
Description=Subgraph Firewall Daemon
Wants=network.target
After=network.target multi-user.target

[Service]
Environment="GODEBUG=cgocheck=0"
ExecStartPre=/usr/bin/install -d /var/run/fw-daemon
ExecStart=/usr/sbin/fw-daemon
ExecReload=/bin/kill -HUP ${MAINPID}
StandardOutput=syslog
StandardError=syslog
SyslogFacility=daemon
SyslogIdentifier=fw-daemon

[Install]
WantedBy=graphical.target
