[Desktop Entry]
Encoding=UTF-8
Name=Application Firewall Settings
Comment=Launch the Application Firewall Settings
TryExec=fw-settings
Exec=fw-settings
Terminal=false
Type=Application
Icon=security-medium
Categories=X-GNOME-Sundry
