[Desktop Entry]
Name=Application Firewall Settings
Comment=Launch the Application Firewall Settings
TryExec=fw-settings
Exec=fw-settings
Terminal=false
Type=Application
Icon=security-medium
Categories=X-GNOME-Sundry
X-Desktop-File-Install-Version=0.23
